{{! template-lint-disable no-action no-curly-component-invocation no-implicit-this require-button-type }}
{{page-title "Torii"}}

<h1>Torii Examples</h1>

<h2>Torii: Example Usage</h2>

<div class="providers">
  {{#each this.providers as |provider|}}
    <div class="provider">
      <button {{action "authorize" provider}}>
        {{provider}}
      </button>
    </div>
  {{/each}}
</div>

<div class="auth-data">
  Auth data:
  {{#if this.authData}}
    {<pre>{{inspect-object this.authData}}</pre>}
  {{/if}}
</div>
<div>
  Error data: {{this.error}}
</div>
